html {
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    background-color: rgba(252, 252, 158, 0.986);
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.matter {
    /* flex: 1 0 auto; */
    /* padding: 10px; */
    padding-bottom: 80px;
}

.head {
    margin-top: 3px;
    font-size: 3.5em;
    background-color: rgba(250, 157, 50, 0.993);
}

.navbar {
    margin: 0;
    font-size: 1.3em;
    border-top: 4px double red;
    background-color: rgba(250, 157, 50, 0.993);
}

a {
    color: blue;
    padding-left: 75px;
    padding-right: 75px;
    text-decoration: none;
}

img {
    width: 400px;
    height: 400px;
}

hr {
    margin-top: 0;
    border: 2px solid red;
}


img {
    border: 5px double rgb(22, 71, 231);
}

input {
    margin-bottom: 10px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    position: absolute;
    font-size: 1.3em;
    padding: 0.8em 0 0.8em 0;
    background-color: rgb(29, 58, 32);
}