body {
    margin: 0.1px;
    text-align: center;
    background-color: rgba(252, 252, 158, 0.986);
}

.head {
    margin-top: 3px;
    font-size: 3.5em;
    background-color: rgba(252, 134, 0, 0.993);
}

.navbar {
    margin: 0;
    font-size: 1.3em;
    border-top: 4px double red;
    background-color: rgba(252, 134, 0, 0.993);
}

a {
    color: blue;
    padding-left: 75px;
    padding-right: 75px;
    text-decoration: none;
}

img {
    width: 400px;
    height: 400px;
}

hr {
    margin-top: 0;
    border: 2px solid red;
}


img {
    border: 5px double rgb(22, 71, 231);
}

input {
    margin-bottom: 10px;
}

footer {
    color: white;
    /* margin-top: auto; */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
    font-size: 1.3em;
    padding: 0.8em 0 0.8em 0;
    background-color: rgb(29, 58, 32);
}