{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>

    <link rel="stylesheet" type="text/css" href="{% static 'classifier/main.css' %}">
    <title>Crop Insect Classifier</title>
</head>

<body>
    <div class="page-container">
        <div class="matter">
            <div class="head">
                <a href="{% url 'home' %}"><b>Crop Insect Classifier</b></a>
            </div>
            <div class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'viewDatabase' %}">Database</a>
            </div>
            <hr>
        
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    
        <div class="footer">
            Made by <b>Himanshu Patel</b>
        </div>
    </div>
</body>

</html>